hr
div(class="footer") 
  p &copy; 2012 tuer.me 
   a(href="http://www.tuer.me/") (PC用户使用非ie内核浏览器可进入高级版)
  p 使用chrome,firefox,safari,opera等浏览器可获得更好体验.
  p 
   a(href="http://m.tuer.me/diary/50851ba98bd5768b4d000001",title="提交BUG") 提交BUG
