hr
footer
 p 网站基于Nodejs开发 版权所有 &copy; Tuer.me 2012-04-01 
   each item,i in config.footer
     a(href='#{item.href}') #{item.text} 
   span | 友情连接 
   a(href='http://www.luoo.net/',target='_blank') 落网
script
   /*
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-33569930-1']);
   _gaq.push(['_trackPageview']);
   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
   */
