!!! 5
html
  head
    title
      兔耳日记 | #{session.title} 
    meta(content='text/html;charset=utf-8',http-equiv='Content-Type')
    link(rel='shortcut icon',href='http://www.tuer.me/favicon.ico',type='image/x-icon')
    if(session.template == 'Invite')
      meta(http-equiv="pragma",content="no-cache")
      meta(http-equiv="cache-control",content="no-cache,must-revalidate,private,no-store")
      meta(http-equiv="expires",content="Sun, 6 Mar 2005 01:00:00 GMT")
      meta(http-equiv="expires",content="0")
    link(rel='stylesheet', href='http://css.tuer.me/??bootstrap/css/bootstrap.min.css,style/css/common.css?v=201210241747')
    if(session.template == 'profile')
      link(rel="alternate",type="application/rss+xml",href="http://www.tuer.me/user/rss/#{rss.address}",title="#{rss.title}")
    script(src='http://js.tuer.me/??#{config.scripts}')
    script
      seajs.config({'base':'http://assest.tuer.me/libs/'});
    script
      seajs.use('mods/common.js?v=20121022');
  body(data-spy="scroll",data-target=".bs-docs-sidebar")
    include topbar
    block content
    
