extends ../common/layout
block content
  div(class='container')
    div(class='well')
      h1 o(︶︿︶)o 唉！ 
      p 没有找到你想要的页面 
      p 
        a(href="/",title="返回首页") 返回首页
    include ../common/footer
