extends ../common/layout
block content
  div(class='container')
    div(class='well')
      h1 o(︶︿︶)o 唉！ 
      p 服务器开小差了，请稍后再试，或联系管理员提交BUG
      p
        a(href="/",title="返回首页") 返回首页
    include ../common/footer
