extends ../common/layout
block content
  div(class='container')
    h6 1.什么是兔耳日记?
    p 一个苦逼程序员用nodejs默默耕耘出来的一个日记本网站，用作平时自己的成长记录和分享。
    h6 2.兔耳日记能做什么?
    p 目前来看，这里可以自由的来写一些纯文字的日记，或者带插图的日记，并与好友一起交流互动。更多功能都还在慢慢孵化中。
    h6 3.联系或者加入兔耳.
    p 开发者小爝的邮箱 designsor#gmail.com [请把#换成@]
    p QQ群号：198157726 
      a(href='http://www.douban.com/group/tuer') 豆瓣小组
    h6 4.如果你对兔耳有兴趣，想投放广告或者寻求合作怎么办？
    p 随时给我发邮件吧 designsor#gmail.com [请把#换成@]
    h6 5.关于小爝
    p 标准伪极客，曾经在淘宝网担任前端开发工程师，目前在sina cdc继续苦逼的做着前端开发的工作 :)
    h6 6.捐赠兔耳
    p 
     a(href="http://me.alipay.com/tuer",target="_blank",title="捐赠兔耳")
      img(src="http://css.tuer.me/style/image/alipay_btn.png",alt="捐赠")
    include ../common/footer
  script
    seajs.use('mods/reg');
  
