extends ../common/layout
block content
  div(class='container')
    h6 1.关于用户隐私
    p 我们会安全的保护用户的私密日记，还有帐号安全等，功能都在不断的完善中。
    h6 2.关于rss的使用
    p 在每个人的主页都会有一个rss的地址，如果你用过ifttt或者豆瓣九点，你完全可以根据ifttt的功能来分享你在这里的日记动态到九点或twitter。
    p 如果不知道什么是ifttt或如何使用，请百度一下，去官方自行查阅~鞠躬。
    h6 3.为什么总会有502的错误。
    p 网站开发总是需要调试和重启服务，所以偶尔打不开请不要着急，一定是我在调试啦。
    h6 4.为什么网站打开速度很慢？
    p 因为可怜的主机在国外。。。所以请尽量不要开启禁用缓存的浏览器选项。
    h6 5.有问题如何反馈？
    p 请给管理员小爝发邮件或者gtalk吧！我的信箱是designsor#gmail.com [请把#换成@]
    include ../common/footer
  script
    seajs.use('mods/reg');
  
