extends ../common/layout
block content
  div(class='container')
    h6 ChangeLog
    ol
      li 禁止回复功能上线 
        small 2012/08/10
      li 关注的人和被关注人详细页面上线,增加日记回复数 
        small 2012/08/09
      li 修复和图片删除相关bug，关注日记功能上线
        small 2012/08/08
      li 修复日记id不存在就502的错误
        small 2012/08/07
      li 增加隐私日记功能 
        small 2012/08/07
      li 首页布局更改，增加全部日记入口 
        small 2012/08/06
      li 头像已经更新为150*150的大尺寸，并增加了自动截图 
        small 2012/08/06
      li 页脚的关于兔耳页面，增加了豆瓣小组地址和qq群号码，方便大家反馈意见 
        small 2012/08/04
      li 增加了回复评论功能 
        small 2012/08/04
    include ../common/footer
