body{
    padding:60px 0 40px;
}
button.close{
    border:none;
}
form.indexLogin label.control-label{
    width:auto;
}
form.indexLogin .controls{
    margin-left:30px;
}
/* user */
.User-box{
    word-wrap:break-word;
}
.User-box dl,.User-box dt,.User-box dd{
    margin:0px;
}
.User-box .pl dt{
    margin-bottom:10px;
}
.User-bar ul,.User-muen{
    margin:10px 0px 0px;
    list-style:none;
}
.User-about {
    margin-top:10px;
}
.User-muen li{
    margin-right:5px;
}
.User-muen a{
    padding:3px;
    border-radius:4px;
    border:1px solid #0088cc;
    background:#0088CC;
    color:#fff;
}
.User-muen a:hover{
    background:#fff;
    color:#005580;
    text-decoration:none;
}
.users-list{
    list-style:none;
    margin:10px 0px 0px;
    clear:both;
}
.users-list li{
    float:left;
    width:50px;
    height:68px;
    margin-bottom:15px;
    margin-right:8px;
    text-align:center;
    overflow:hidden;
}
.users-list li a{
   display:block;
   width:50px;
   height:50px;
   text-align:center;
   border:1px solid #eee;     
   background:#eee;
   line-height:48px;
}

/* comment */
.comment .controls{
    margin-left:0px;
}
.comment .controls textarea{
    width:500px;
}
.comment-item{
    margin-bottom:30px;
}
.comment-bar{
    padding:2px 0px;
    color:#888;
    margin-bottom:10px;
}
.comment-user{
    width:50px;
}
.delete-comment{
    display:inline;
}

/* profile */
.Diary-wrap h5{
    margin:10px 0px;
}
.Diary-wrap .Diary-content,.Diary-wrap .bar{
    margin-bottom:10px;
    clear:both;
}
.Diary-content{
    word-wrap:break-word;
    line-height:190%;
}
.Diary-content img{
    float:left;
    margin:0px 10px 10px 0px;
}
.Diary-wrap .bar{
    color:#888;
    margin-bottom:30px;
}
.Diary-wrap .bar .btn{
    margin-right:5px;
}
.Diary-wrap .bar form{
    display:inline;
}
.Diary-row{
    position:relative;
}
.Diary-left{
    position:absolute;
    top:0px;
    left:0px;
}
.Diary-right{
    margin-left:60px;
}
/*user list*/
.Friends-list,.Note-list{
    margin-left:0px;
}
.Friends-list ul,.Note-list ul{
    margin:5px 0px 0px 0px;
    clear:both;
}
.Note-list ul li{
    list-style:none;
    margin:5px 10px 5px 0px;
    width:100px;
    height:120px;
    text-align:center;
    overflow:hidden;
    float:left;
}
.Friends-list ul li{
    list-style:none;
    float:left;
    width:50px;
    height:68px;
    overflow:hidden;
    margin:5px 10px 5px 0;
}
.Friends-list ul li a{
    display:block;
}
.Friends-list ul li span{
    display:block;
    text-align:center;
}
.Friends-list p{
    margin-top:10px;
}

.share-bar{
    clear:both;
    height:25px;
}
.share-bar iframe{
    vertical-align:middle;
    margin-left:5px;
}

h6{
    color:#666;
    font-size:12px;
    margin:15px 0px;
}

#J_replaybox{
    margin-top:10px;
}
#J_replaybox .reply-btn-box{
    margin-top:10px;
}
#J_replaybox .reply-btn-box button{
    margin-right:5px;
}
ol li small{
    color:#888;
    font-size:10px;
}

.avatar{
    margin-top:10px;
}

/*notebook*/
#J_NewColorSelector,#J_EditColorSelector{
    margin-left:5px;
    background:url("http://css.tuer.me/libs/colorpicker/images/select2.png") repeat scroll 0 0 transparent;
    height:36px;
    width:36px;
    display:inline-block;
    vertical-align:middle;
    position:relative;
}
#J_NewColorSelector div,#J_EditColorSelector div{
    display:inline-block;
    height:28px;
    left:4px;
    top:4px;
    width:28px;
    background:url("http://css.tuer.me/libs/colorpicker/images/select2.png") repeat scroll center center transparent;
    position:absolute;
}

.bookcover{
    display:block;
    width:100px;
    height:100px;
    line-height:100px;
    text-align:center;
    font-size:36px;
}
.Calendar {
    margin-bottom:20px;
    background:#f5f5f5;
}
.Calendar table{
    width:100%;
    height:180px;
}
.Calendar table td,.Calendar table th{
    text-align:center;
    border:1px solid rgba(0, 0, 0, 0.05);
}
.Calendar table td.cur{
    color:#4d67d1;
    background:#fff;
}
.Calendar table thead th{
    height:40px;
}
.modal-body{
    text-align:center;
    max-height:none;
}
.inline{
    display:inline;
    margin-right:5px;
}

/*docs*/
.bs-docs-sidenav {
  width: 228px;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
section{
    padding-top:40px!important;
}
